#page {
    display: grid;
    width: 850px;
    height: 500px;
    grid-template-areas:
        "head nav"
        "head main"
        "foot foot";
    grid-template-rows: 1fr 1fr 70px;
    grid-template-columns: 1fr 1fr;
}

#page > header {
    grid-area: head;
    background-color: dimgrey;
}

#page > main {
    grid-area: main;
    background-color: lightgray;
}

#page > nav {
    grid-area: nav;
    background-color: gray;
}

#page > footer {
    grid-area: foot;
    background-color: black;
}